.too-big-warning {
	display: flex;
	flex-direction: column;

	align-items: center;
	position: absolute;
	left: 50%;
	top: var(--p);
	transform: translateX(-50%);
	background-color: var(--color-bg);
}

body {
	align-items: flex-end;

	&.left {
		align-items: flex-start;
	}

	&.center {
		align-items: center;
	}

	&.right {
		align-items: flex-end;
	}
}

.terminal {
	width: 100ch;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
	scrollbar-width: none;

	&.vertical {
		&.overview {
			flex-direction: column-reverse;
		}
	}

	&.horizontal {
		width: 100%;
		flex-direction: row;

		&.overview {
			flex-direction: row-reverse;
		}

		&.top {
			align-items: flex-start;
		}

		&.center {
			align-items: center;
		}

		&.bottom {
			align-items: flex-end;
		}
	}
}

#audio-time-jump {
	margin-top: var(--p);
}

.time-terminal {
	display: flex;
	flex-direction: column;
}

.overview-terminal {
	display: flex;
	flex-direction: column;
	width: 100ch;

	.information {
		display: flex;
		gap: 3ch;
		margin-top: var(--p);

		.image pre.ascii {
			margin: 0;
			white-space: pre;

			background-color: var(--color-art-bg, transparent);
			color: var(--ascii-static-color);

			&,
			* {
				font-size: var(--ascii-font-size, var(--p));
			}
		}

		.ascii span {
			display: inline;
		}

		.text {
			width: 47ch;

			.separator {
				height: var(--p);
			}
		}
	}
}

.block {
	display: flex;
	gap: 1ch;

	> :last-child {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.time-container {
	display: grid;
	grid-template-columns: 7ch max-content 9ch 8ch 1ch 11ch auto;
	column-gap: 1ch;

	.time {
		display: contents;
	}

	.progress {
		display: grid;
		grid-template-columns: 1ch 25ch 4ch 1ch;
	}
}

.timer-container {
	display: grid;
	grid-template-columns: 8ch 12ch max-content max-content;
	column-gap: 1ch;

	.timer {
		display: contents;
	}
}

.slider {
	display: flex;
	gap: 1ch;

	.title {
		width: 8ch;
	}

	.value {
		display: grid;
		grid-template-columns: 1ch 15ch 10ch 6ch 4ch 1ch;

		> * {
			white-space: pre;
		}

		.ansi-bright-black {
			text-align: right;
		}
	}

	.volume {
		width: 4ch;
	}
}

.song {
	overflow: hidden;
	display: grid;
	grid-template-columns: 9ch 25ch 40ch 26ch;

	> * {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.divider {
	grid-column: 1/100;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: clip !important;
}

.playing-song {
	display: flex;
	justify-content: space-between;
}

.load-information {
	display: grid;
	grid-template-columns: 50ch 50ch;
}
